html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App,
.BrandA,
.BrandB,
.brandsTransition,
.routerWrapper {
  width: 100%;
  height: 100%;
}

.App,
.brandsTransition,
.routerWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}
